In [2]:
# Importing necessary libraries
import pandas as pd
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv, dotenv_values

In [3]:
# This will take environment variables from .env file
load_dotenv()

True

In [4]:
# connect to database
raw_host = os.getenv('Database_host')
raw_username = os.getenv('Database_username')
raw_password = os.getenv('Database_password')
raw_schema = os.getenv('Database_schema')

raw_db_config = {
    "host": raw_host,
    "username": raw_username,
    "password": raw_password,
    "schema": raw_schema
}

#driver://username:password@host/database
raw_engine = create_engine(f"mysql+mysqlconnector://{raw_db_config['username']}:{raw_db_config['password']}@{raw_db_config['host']}/{raw_db_config['schema']}")

# Business Question
### What is the weak side of Kings versus top 10 teams?

In [5]:
query = """
WITH TeamRanks AS (
    SELECT 
        team_id, 
        name,
        SUM(points) AS total_points,
        RANK() OVER (ORDER BY SUM(points) DESC) AS `rank`
    FROM nhl_teamstats
    GROUP BY team_id
), TopTeamAverages AS (
    SELECT 
        AVG(goals) AS avg_goals,
        AVG(assists) AS avg_assists,
        AVG(points) AS avg_points,
        AVG(penalty_minutes) AS avg_penalty_minutes,
        AVG(shots) AS avg_shots,
        AVG(hits) AS avg_hits,
        AVG(blocked_shots) AS avg_blocked_shots,
        AVG(powerplays) AS avg_powerplays,
        AVG(powerplay_percentage) AS avg_powerplay_percentage,
        AVG(shots_against) AS avg_shots_against,
        AVG(saves_percentage) AS avg_saves_percentage
    FROM nhl_teamstats
    WHERE team_id IN (SELECT team_id FROM TeamRanks WHERE `rank` <= 10)
), KingsStats AS (
    SELECT 
        AVG(goals) AS avg_goals,
        AVG(assists) AS avg_assists,
        AVG(points) AS avg_points,
        AVG(penalty_minutes) AS avg_penalty_minutes,
        AVG(shots) AS avg_shots,
        AVG(hits) AS avg_hits,
        AVG(blocked_shots) AS avg_blocked_shots,
        AVG(powerplays) AS avg_powerplays,
        AVG(powerplay_percentage) AS avg_powerplay_percentage,
        AVG(shots_against) AS avg_shots_against,
        AVG(saves_percentage) AS avg_saves_percentage
    FROM nhl_teamstats
    WHERE team_id = (SELECT id FROM nhl_teams WHERE name = 'Kings')
)
SELECT * FROM TopTeamAverages
UNION ALL
SELECT * FROM KingsStats;
"""

df = pd.read_sql(query, raw_engine)

In [6]:
# Transpose the DataFrame
df_transposed = df.transpose()

# Change the column names to reflect the team names for clarity
df_transposed.columns = ['Top Ten Teams Average', 'Kings Average']

# Display the transposed DataFrame
df_transposed

                          Top Ten Teams Average  Kings Average
avg_goals                                284.60         254.00
avg_assists                              488.80         431.00
avg_points                               773.40         685.00
avg_penalty_minutes                      731.20         715.00
avg_shots                               2569.90        2616.00
avg_hits                                1851.70        1763.00
avg_blocked_shots                       1238.60        1267.00
avg_powerplays                           252.40         248.00
avg_powerplay_percentage                  24.67          22.60
avg_shots_against                       2385.70        2288.00
avg_saves_percentage                       0.90           0.91

In [9]:
# transfer to csv
df_transposed.to_csv('Kings_performance.csv', index=True)

# Answer
### Insight: The Kings have below-average offensive numbers but above-average defensive numbers.
### Recommendation: Needs more shots and a stronger ability to organize powerplay.
### Prediction: They have a chance to win more games.

# Business Question
### Who needs strengthening and how to improve the rosterï¼Ÿ

In [13]:
query = """
WITH PositionAverages AS (
    SELECT
        CASE 
            WHEN np.primary_position IN ('LW', 'RW') THEN 'Wings' 
            ELSE np.primary_position 
        END AS Category,
        AVG(ps.goals / NULLIF(ps.games_played, 0)) AS avg_goals_per_game,
        AVG(ps.assists / NULLIF(ps.games_played, 0)) AS avg_assists_per_game,
        AVG(ps.points / NULLIF(ps.games_played, 0)) AS avg_points_per_game,
        AVG(ps.shots / NULLIF(ps.games_played, 0)) AS avg_shots_per_game
    FROM 
        nhl_playerstats ps
    JOIN nhl_players np ON ps.full_name = np.full_name
    WHERE np.primary_position IN ('D', 'C', 'LW', 'RW')  -- Considering Defense, Center, Left Wing, Right Wing
    GROUP BY CASE 
                WHEN np.primary_position IN ('LW', 'RW') THEN 'Wings' 
                ELSE np.primary_position 
             END
),
PlayerStats AS (
    SELECT
        np.primary_position AS Position,
        np.full_name AS PlayerName,
        ps.goals / NULLIF(ps.games_played, 0) AS goals_per_game,
        ps.assists / NULLIF(ps.games_played, 0) AS assists_per_game,
        ps.points / NULLIF(ps.games_played, 0) AS points_per_game,
        ps.shots / NULLIF(ps.games_played, 0) AS shots_per_game,
        CASE 
            WHEN np.primary_position IN ('LW', 'RW') THEN 'Wings' 
            ELSE np.primary_position 
        END AS Category,
        ROW_NUMBER() OVER (
            PARTITION BY CASE 
                            WHEN np.primary_position IN ('LW', 'RW') THEN 'Wings' 
                            ELSE np.primary_position 
                         END 
            ORDER BY ps.points / NULLIF(ps.games_played, 0) ASC
        ) AS `Rank`
    FROM 
        nhl_playerstats ps
    JOIN nhl_players np ON ps.full_name = np.full_name
    JOIN PositionAverages PA ON CASE 
                                    WHEN np.primary_position IN ('LW', 'RW') THEN 'Wings' 
                                    ELSE np.primary_position 
                                END = PA.Category
)
SELECT
    Position,
    PlayerName,
    ROUND(goals_per_game,3) AS goals_per_game,
    ROUND(assists_per_game,3) AS assists_per_game,
    ROUND(points_per_game,3) AS points_per_game,
    ROUND(shots_per_game,3) AS shots_per_game
FROM 
    PlayerStats
WHERE 
    `Rank` <= 2  -- Limit to two lowest players in each category
ORDER BY 
    Category, `Rank`;
"""
df = pd.read_sql(query, raw_engine)

In [14]:
df

,Position,PlayerName,goals_per_game,assists_per_game,points_per_game,shots_per_game
0,C,Trevor Lewis,0.098,0.098,0.195,1.585
1,C,Blake Lizotte,0.113,0.129,0.242,1.226
2,D,Jacob Moverare,0.042,0.000,0.042,0.458
3,D,Andreas Englund,0.012,0.110,0.122,0.500
4,RW,Carl Grundstrom,0.160,0.080,0.240,1.900
5,RW,Alex Laferriere,0.148,0.136,0.284,1.815

In [16]:
df.to_csv('Kings_player_performance.csv', index=True)

# Answer
### Insight: Those player have relative low performance.
### Recommendation: Needs to trade the player or give them more training.
### Prediction: They have a chance to win more games.